[tool.black]
line-length = 79
skip-string-normalization = true
target-version = ['py37']

[tool.poetry]
name = "sproc"
version = "2.1.0"
description = "⛏ Subprocesseses for subhumanses ⛏"
authors = ["Tom Ritchford <tom@swirly.com>"]
license = "MIT"
readme = "README.rst"

[tool.poetry.dependencies]
python = ">=3.7"

[tool.poetry.group.dev.dependencies]
coverage = "^6.5.0"
flake8 = "^5.0.4"
pytest-benchmark = "^4.0.0"
readme-renderer = "^37.3"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
